@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

:root {
    --navbar-width: 300px;
    --aside-width: 300px;
    --header-height: 50px;
    --footer-height: 30px;
  }

.page-header {
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: var(--header-height);
  background-color: #DDDDDD;
  z-index: 1021;   /* higher than page-body */
  padding-right: 12px;   /* To avoid scrollbar on small screens */
}

.page-navbar {
  position: fixed;
  left:0;
  top: var(--header-height); 
  bottom: var(--footer-height);
  overflow :auto;
  width: var(--navbar-width);
  padding-right: 10px;
  padding-left: 10px;
  background-color: white; /* Needed for when a custom navbar overlays the default */
}

.page-aside {
  position: fixed;
  width: var(--aside-width);
  right: 0;
  top: var(--header-height); 
  bottom: var(--footer-height);
  overflow :auto;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white; /* Needed for when a custom right sidebar overlays the default */
}

.page-body {
  position: fixed;
  left: var(--navbar-width); /* Position to right of navbar (~ left sidebar) */
  right: var(--aside-width); /* Position to left of Aside (~right sidebar) */
  top: var(--header-height); /* Position below the Header */
  bottom: var(--footer-height);
  padding-left: 15px;
  padding-right: 22px; /* Some space for the scroll bar */
  overflow: auto;
  z-index: 1020;   /* Needed for when children are positioned over the left sidebar */
                   /* Must be less than --bs-offcanvas-zindex=1045      */
}

.page-footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100vw;
  height: var(--footer-height);
  background-color: #DDDDDD;
  z-index: 1021;   /* higher than page-body, hich extends behinid the footer on a small screen */
}

/* Hide right sidebar as page narrows */
@media only screen and (max-width: 1500px) {
  .page-aside {
      display: none;
  }
  .page-body {
      right: 0;
  }
}

/* Hide left sidebar as page narrows */
@media only screen and (max-width: 1200px) {
  .page-navbar {
      display: none;
  }
  .page-body {
      left: 0;
      position: absolute;  /* Use the browser's scrollbar on a small screen */
      overflow: visible;
  }
  .page-inner {
    padding-bottom: var(--footer-height);
  }
  .wide-only {
    display: None
  }
}

@media only screen and (min-width: 1200px) {
  .narrow-only {
    display: None
  }
}
