/* Some of these variables are duplicated in code */
:root {
    --navbar-width: 300px;
    --aside-width: 300px;
    --header-height: 50px;
    --footer-height: 30px;
  }

.page-header {
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--bs-body-bg);
  z-index: 1021;   /* higher than page-body */
  padding-right: 12px;   /* To avoid scrollbar on small screens */
}

.page-navbar {
  position: fixed;
  left:0;
  top: var(--header-height); 
  bottom: var(--footer-height);
  overflow :auto;
  width: var(--navbar-width);
  padding-right: 10px;
  padding-left: 10px;
  border-right : 2px solid lightgray;
  background-color: var(--bs-body-bg); 
}

.page-aside {
  position: fixed;
  width: var(--aside-width);
  right: 0;
  top: var(--header-height); 
  bottom: var(--footer-height);
  overflow :auto;
  padding-right: 10px;
  padding-left: 10px;
  border-left : 2px solid lightgray;
  background-color: var(--bs-body-bg); 
}

.page-body {
  position: fixed;
  left: var(--navbar-width); 
  right: var(--aside-width); 
  top: var(--header-height); 
  bottom: var(--footer-height);
  padding-left: 15px;
  padding-right: 22px; /* Some space for the scroll bar */
  overflow: auto;
  background-color: var(--bs-body-bg); 
  z-index: 1020;   /* Needed for when children are positioned over the left sidebar */
                   /* Must be less than --bs-offcanvas-zindex=1045 and less than z-index of footer   */
}

.page-footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100vw;
  height: var(--footer-height);
  background-color: var(--bs-body-bg);
  z-index: 1021;   /* Higher than page-body, which extends behind the footer on a small screen */
}

/* Hide right sidebar as page narrows */
@media only screen and (max-width: 1500px) {
  .page-aside {
      display: none;
  }
  .page-body {
      right: 0;
  }
}

/* Hide left sidebar as page narrows */
@media only screen and (max-width: 1200px) {
  .page-navbar {
      display: none;
  }
  /* Use the browser's scrollbar on a small screen. 
     If overflow:scroll or overflow:auto were to be used then (at least on Safari on an iPhone)
     the navigation bar is always visible and occupying screen space, while this way it can disappear */
  .page-body {
      left: 0;
      position: absolute;  
      overflow: visible;
  }
  .page-inner {
    padding-bottom: var(--footer-height); /* Create space so bottom of page clears the footer */
  }
  .wide-only {
    display: None
  }
}

@media only screen and (min-width: 1200px) {
  .narrow-only {
    display: None
  }
}
